#container{
    width: 1339px;
    height: 2000px;
    dborder: 1px solid;
}

.header{
    width: 1339px;
    height: 80px;
    dborder: 1px solid;
}

.menuColumn1{
    width: 400px;
    height: 80px;
    border: 1px solid;
    float: left;
}

.menuColumn2{
    width: 926px;
    height: 80px;
    border: 1px solid;
    float: left;
}

.site-title{
    font-size: 27px;
    line-height: 52px;
    color: #666;
    font-weight: 250;
    -webkit-transition: all .3s ease;
    text-align: center;
}

.menuitems{
    width: 152px;
    height: 80px;
    dborder: 1px solid;
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    color: #4c4c4c;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-align: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }